---
import Index from "../components/Index.jsx";
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Slow-Mo Christian</title>
  <link rel="icon" href="https://emojicdn.elk.sh/ðŸ¢" />
</head>

<body class="bg-black">
  <Index client:only="react" />
</body>
