---
import Index from '../components/Index.jsx'
---

<head>
  <title>Slow-Mo Christian</title>
  <link rel="icon" href="https://emojicdn.elk.sh/ðŸ¢" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style global>
    @import "../styles/global.css";
  </style>
</head>

<body class="bg-black">
  <Index client:only="react" />
</body>
